<!DOCTYPE html>
<html lang="zh-Hant-TW">

  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet"
      integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
    <style>
      .completed {
        text-decoration: line-through
      }
      li{
          list-style: none;
      }
      .w300{
        width: 300px;
      }
    </style>
  </head>

  <body>
    <div id="app">
      <div id="app" class="container my-3">
        <div class="input-group mb-3">
          <span class="input-group-text">待辦事項</span>
          <input type="text" class="form-control" placeholder="準備要做的任務"
            id="newTodo" v-model="text">
          <button class="btn btn-primary" type="button" id="addTodo" @click="addItem">新增</button>
        </div>
        <div class="card">
          <ul class="list-group list-group-flush text-left" id="todoList">
            <li v-for="item in filterList" :key="item.id" class="list-group-item">
              <div class="d-flex">
                <div class="form-check">
                  <ul>
                    <li>
                      <input id="a" type="checkbox" class="form-check-input" @click="item.completed = !item.completed" :checked="item.completed">
                      {{ item.text }}
                      <div class="btn-group" role="group" aria-label="Basic outlined example">
                        <button type="button" class="btn btn-outline-primary" @click="editItem(item)">Edit</button>
                        <button type="button" class="btn btn-outline-primary" @click="removeItem(item)">Remove</button>
                      </div>
                    </li>
                  </ul>
                </div>
                <button type="button" class="btn-close ms-auto remove">
                </button>
              </div>
            </li>
            <li  class="list-group-item">
              <div class="d-flex">
                <div class="form-check">
                  <input class="form-control w300" type="text" v-model="temp.text" placeholder="編輯"/>
                </div>
                <button type="button" class="btn btn-outline-primary" @click="saveEdit">編輯完成</button>
              </div>
            </li>
          </ul>
          <div class="card-footer d-flex justify-content-between">
            <span>有 <span id="taskCount">{{data.length}}</span> 筆任務</span>
            <div>
              <a href="#" class="me-3" @click.prevent="status='all'">全部</a>
              <a href="#" class="me-3" @click.prevent="status='active'">未完成</a>
              <a href="#" class="me-3" @click.prevent="status='completed'">已完成</a>
              <a href="#" @click="clearAll">清除所有任務</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-p34f1UUtsS3wqzfto5wAAmdvj+osOnFyQFpp4Ua3gs/ZVWx6oOypYoCJhGGScy+8"
      crossorigin="anonymous"></script>
    <script src="https://unpkg.com/vue@next"></script>
    <script>
      Vue.createApp({
        data() {
          return {
            text: '', //text
            data: [],  //data
            temp:{},
            status:'all'
          }
        },
        computed:{ //篩選"已完成" "未完成"
          filterList(){
            switch(this.status){
              case 'active':
                return this.data.filter((item)=>!item.completed);
              case 'completed':
                return this.data.filter((item)=>item.completed);
              default:
                return this.data;
            }
          },
        },
        methods: {
          //#1.如何新增資料
            addItem(){
                this.data.push({
                    id: this.data.length + 1,
                    text: this.text
                });
                this.newTodo=''
            },
          //#2.如何移除資料:用id找位置
          removeItem(item){
              const index=this.data.findIndex(obj => obj.id ===item.id); //用findIndex
              this.data.splice(index,1);
          },
          //#3.如何編輯資料: 避免確認編輯前同步更新item的資料,所以要複製一份item => 物件傳參考特性
          editItem(item){
            //this.temp = item; =>編輯會因為雙向綁定,改變item值
            this.temp ={...item}; //解構賦值  ES6寫法
          },
          //#4.把編輯的資料寫回指定的item
          saveEdit(item){
            const index=this.data.findIndex(obj => obj.id === this.temp.id); //用findIndex,找到指定的索引位置
            //把資料寫回索引的item
            this.data[index]=this.temp;

            this.temp={}//清空 編輯框框內容
          },
          //清除所有項目
          clearAll(){
            this.data=[]
          }
        },
      }).mount('#app');
    </script>
  </body>

</html>